
.icon-icon-arrow-down:before { content: '\e800'; } /* '' */
.icon-icon-arrow-left:before { content: '\e801'; } /* '' */
.icon-icon-arrow-right:before { content: '\e802'; } /* '' */
.icon-icon-arrow-up:before { content: '\e803'; } /* '' */
.icon-icon-at-symbol:before { content: '\e804'; } /* '' */
.icon-icon-book:before { content: '\e805'; } /* '' */
.icon-icon-bookmark:before { content: '\e806'; } /* '' */
.icon-icon-briefcase:before { content: '\e807'; } /* '' */
.icon-icon-browser:before { content: '\e808'; } /* '' */
.icon-icon-building:before { content: '\e809'; } /* '' */
.icon-icon-calander:before { content: '\e80a'; } /* '' */
.icon-icon-call:before { content: '\e80b'; } /* '' */
.icon-icon-call-incoming:before { content: '\e80c'; } /* '' */
.icon-icon-call-outgoing:before { content: '\e80d'; } /* '' */
.icon-icon-camera:before { content: '\e80e'; } /* '' */
.icon-icon-cart:before { content: '\e80f'; } /* '' */
.icon-icon-chat:before { content: '\e810'; } /* '' */
.icon-icon-check-circle:before { content: '\e811'; } /* '' */
.icon-icon-cheveron-down:before { content: '\e812'; } /* '' */
.icon-icon-cheveron-left:before { content: '\e813'; } /* '' */
.icon-icon-cheveron-right:before { content: '\e814'; } /* '' */
.icon-icon-cheveron-up:before { content: '\e815'; } /* '' */
.icon-icon-clip:before { content: '\e816'; } /* '' */
.icon-icon-clipboard:before { content: '\e817'; } /* '' */
.icon-icon-clock:before { content: '\e818'; } /* '' */
.icon-icon-code:before { content: '\e819'; } /* '' */
.icon-icon-cog:before { content: '\e81a'; } /* '' */
.icon-icon-comment:before { content: '\e81b'; } /* '' */
.icon-icon-compass:before { content: '\e81c'; } /* '' */
.icon-icon-currency-dollar:before { content: '\e81d'; } /* '' */
.icon-icon-dashboard:before { content: '\e81e'; } /* '' */
.icon-icon-desktop:before { content: '\e81f'; } /* '' */
.icon-icon-discount:before { content: '\e820'; } /* '' */
.icon-icon-download:before { content: '\e821'; } /* '' */
.icon-icon-duplicate:before { content: '\e822'; } /* '' */
.icon-icon-edit:before { content: '\e823'; } /* '' */
.icon-icon-emotion-happy:before { content: '\e824'; } /* '' */
.icon-icon-emotion-sad:before { content: '\e825'; } /* '' */
.icon-icon-exclamation:before { content: '\e826'; } /* '' */
.icon-icon-external-link:before { content: '\e827'; } /* '' */
.icon-icon-file:before { content: '\e828'; } /* '' */
.icon-icon-file-blank:before { content: '\e829'; } /* '' */
.icon-icon-file-minus:before { content: '\e82a'; } /* '' */
.icon-icon-file-plus:before { content: '\e82b'; } /* '' */
.icon-icon-film:before { content: '\e82c'; } /* '' */
.icon-icon-filter:before { content: '\e82d'; } /* '' */
.icon-icon-flag:before { content: '\e82e'; } /* '' */
.icon-icon-folder:before { content: '\e82f'; } /* '' */
.icon-icon-folder-minus:before { content: '\e830'; } /* '' */
.icon-icon-folder-plus:before { content: '\e831'; } /* '' */
.icon-icon-globe:before { content: '\e832'; } /* '' */
.icon-icon-graph-bar:before { content: '\e833'; } /* '' */
.icon-icon-grid:before { content: '\e834'; } /* '' */
.icon-icon-group:before { content: '\e835'; } /* '' */
.icon-icon-hashtag:before { content: '\e836'; } /* '' */
.icon-icon-heart:before { content: '\e837'; } /* '' */
.icon-icon-help:before { content: '\e838'; } /* '' */
.icon-icon-home:before { content: '\e839'; } /* '' */
.icon-icon-image:before { content: '\e83a'; } /* '' */
.icon-icon-inbox:before { content: '\e83b'; } /* '' */
.icon-icon-information:before { content: '\e83c'; } /* '' */
.icon-icon-key:before { content: '\e83d'; } /* '' */
.icon-icon-link:before { content: '\e83e'; } /* '' */
.icon-icon-location:before { content: '\e83f'; } /* '' */
.icon-icon-lock-closed:before { content: '\e840'; } /* '' */
.icon-icon-lock-open:before { content: '\e841'; } /* '' */
.icon-icon-mail:before { content: '\e842'; } /* '' */
.icon-icon-map:before { content: '\e843'; } /* '' */
.icon-icon-menu:before { content: '\e844'; } /* '' */
.icon-icon-microphone:before { content: '\e845'; } /* '' */
.icon-icon-minus:before { content: '\e846'; } /* '' */
.icon-icon-minus-circle:before { content: '\e847'; } /* '' */
.icon-icon-minus-square:before { content: '\e848'; } /* '' */
.icon-icon-mobile:before { content: '\e849'; } /* '' */
.icon-icon-moon:before { content: '\e84a'; } /* '' */
.icon-icon-more-horiz:before { content: '\e84b'; } /* '' */
.icon-icon-music:before { content: '\e84c'; } /* '' */
.icon-icon-news:before { content: '\e84d'; } /* '' */
.icon-icon-notification:before { content: '\e84e'; } /* '' */
.icon-icon-plus:before { content: '\e84f'; } /* '' */
.icon-icon-plus-circle:before { content: '\e850'; } /* '' */
.icon-icon-plus-square:before { content: '\e851'; } /* '' */
.icon-icon-print:before { content: '\e852'; } /* '' */
.icon-icon-puzzle:before { content: '\e853'; } /* '' */
.icon-icon-refresh:before { content: '\e854'; } /* '' */
.icon-icon-repeat:before { content: '\e855'; } /* '' */
.icon-icon-rocket:before { content: '\e856'; } /* '' */
.icon-icon-search:before { content: '\e857'; } /* '' */
.icon-icon-server:before { content: '\e858'; } /* '' */
.icon-icon-speaker:before { content: '\e859'; } /* '' */
.icon-icon-star:before { content: '\e85a'; } /* '' */
.icon-icon-store:before { content: '\e85b'; } /* '' */
.icon-icon-tablet:before { content: '\e85c'; } /* '' */
.icon-icon-tag:before { content: '\e85d'; } /* '' */
.icon-icon-thumb-down:before { content: '\e85e'; } /* '' */
.icon-icon-thumb-up:before { content: '\e85f'; } /* '' */
.icon-icon-trash:before { content: '\e860'; } /* '' */
.icon-icon-trending-down:before { content: '\e861'; } /* '' */
.icon-icon-trending-up:before { content: '\e862'; } /* '' */
.icon-icon-trophy:before { content: '\e863'; } /* '' */
.icon-icon-upload:before { content: '\e864'; } /* '' */
.icon-icon-user:before { content: '\e865'; } /* '' */
.icon-icon-user-check:before { content: '\e866'; } /* '' */
.icon-icon-user-minus:before { content: '\e867'; } /* '' */
.icon-icon-user-plus:before { content: '\e868'; } /* '' */
.icon-icon-video:before { content: '\e869'; } /* '' */
.icon-icon-view:before { content: '\e86a'; } /* '' */
.icon-icon-x:before { content: '\e86b'; } /* '' */
.icon-icon-x-circle:before { content: '\e86c'; } /* '' */
.icon-icon-x-square:before { content: '\e86d'; } /* '' */
.icon-icon-zoom-in:before { content: '\e86e'; } /* '' */
.icon-icon-zoom-out:before { content: '\e86f'; } /* '' */
.icon-icon-announcement:before { content: '\e870'; } /* '' */
.icon-icon-archive:before { content: '\e871'; } /* '' */