<nav class="flex items-center justify-between flex-wrap bg-green-600 p-6">
  <div class="w-full block flex items-center w-auto">
    <div class="text-sm flex-grow">
      <a (click)="navigate('')" class="cursor-pointer inline-block mt-0 text-teal-200 hover:text-white mr-8">
        Home
      </a>
      <a (click)="navigate('docs')" class="cursor-pointer inline-block mt-0 text-teal-200 hover:text-white mr-8">
        Docs
      </a>
      <a (click)="navigate('about')" class="cursor-pointer inline-block mt-0 text-teal-200 hover:text-white mr-8">
        About
      </a>
    </div>
    <div>
      <a href="mailto:svw88@hotmail.com?subject=Doctate Support" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-0">Support</a>
    </div>
  </div>
</nav>
