@import url("assets/icons/clean-icons/clean-icons.css");

@tailwind base;

@tailwind components;

@tailwind utilities;


app-modal {
  /* modals are hidden by default */
  display: none;
}

.modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 35%;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index must be higher than .jw-modal-background */
  z-index: 1000;
  /* enables scrolling for tall modals */
  overflow: auto;
}

.modal-body {
  padding: 20px;
  background: #fff;
  /* margin exposes part of the modal background */
  margin: 40px auto;
  max-width: 400px;
  border-radius: 0.5rem;
}



.modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;
  /* z-index must be below .jw-modal and above everything else  */
  z-index: 900;
}



body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}


ol {
  background-color: white;
  position: relative;
  overflow: hidden;
  counter-reset: wizard;
}

li {
  position: relative;
  float: left;
  width: 25%;
  text-align: center;
  color: #38a169;
}

.current ~ li {
  color: #38a169;
}

li:before {
  counter-increment: wizard;
  content: counter(wizard);
  display: block;
  color: white;
  background-color: #38a169;
  border: 2px solid #38a169;
  text-align: center;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 2em;
  position: relative;
  left: 50%;
  margin-bottom: 1em;
  margin-left: -1em;
  z-index: 1;
}

.current ~ li:before {
  background-color: white;
  color: #38a169;
  border-color: #38a169;
}

li + li:after {
  content: "";
  display: block;
  width: 100%;
  background-color: #38a169;
  height: 2px;
  position: absolute;
  left: -50%;
  top: 1em;
  z-index: 0;
}

.current ~ li:after {
  background-color: #38a169;
}
